<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <!-- Fix 'Improper Error Handling' (Vulnerability #4) -->
        <customErrors mode="On" defaultRedirect="index.html" />
    </system.web>
    <system.webServer>
        <!-- Suppress verbose IIS error pages -->
        <httpErrors errorMode="DetailedLocalOnly" existingResponse="PassThrough" />
        
        <rewrite>
            <rules>
                <!-- This rule proxies all requests to the PM2/Node process on port 5000 -->
                <rule name="ReverseProxyInboundRule" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:5000/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
